%h2 Summary
%p
  I’m a product lead and developer with a background in web development and design. I have been programming and designing since 1997. I have an appreciation for simple, elegant solutions, collaborative and curious teams, and pushing the boundaries of what is possible when humans and technologies interact. My 'superpower' is being able to rapidly break down the problem into its parts, identify what is necessary and what is not, while encouraging people to remove the unnecessary parts. I am able to quickly recognize and remove blockers to allow my team to complete projects. I am looking to join a creative development team that embraces a growth mindset, creativity, and fun.
