/ Team
%section#team.bg-faded

  .row
    .col-lg-12.text-center
      %h2.section-heading Roles I play
      %h3.section-subheading.text-muted These are some of the roles I play.
  .row
    .col-sm-4
      .team-member
        = image_tag('DavePics/davechmura_aboutme.png', alt: 'Dave Chmura holding a gaggle of Apple Puck Mice', class: 'mx-auto rounded-circle')
        %h4 Dave Chmura
        %p.text-muted Product Manager
        -# %ul.list-inline.social-buttons
        -#   %li.list-inline-item
        -#     %a{:href => "#"}
        -#       %i.fab.fa-twitter
        -#   %li.list-inline-item
        -#     %a{:href => "#"}
        -#       %i.fab.fa-facebook
        -#   %li.list-inline-item
        -#     %a{:href => "#"}
        -#       %i.fab.fa-linkedin

    .col-sm-4
      .team-member
        = image_tag('DavePics/davechmura_aboutme.png', alt: 'Dave Chmura holding a gaggle of Apple Puck Mice', class: 'mx-auto rounded-circle')
        %h4 Dave Chmura
        %p.text-muted Developer
        -# %ul.list-inline.social-buttons
        -#   %li.list-inline-item
        -#     %a{:href => "#"}
        -#       %i.fab.fa-twitter
        -#   %li.list-inline-item
        -#     %a{:href => "#"}
        -#       %i.fab.fa-facebook
        -#   %li.list-inline-item
        -#     %a{:href => "#"}
        -#       %i.fab.fa-linkedin

    .col-sm-4
      .team-member
        = image_tag('DavePics/davechmura_aboutme.png', alt: 'Dave Chmura holding a gaggle of Apple Puck Mice', class: 'mx-auto rounded-circle')
        %h4 Dave Chmura
        %p.text-muted Mentor
        -# %ul.list-inline.social-buttons
        -#   %li.list-inline-item
        -#     %a{:href => "#"}
        -#       %i.fab.fa-twitter
        -#   %li.list-inline-item
        -#     %a{:href => "#"}
        -#       %i.fab.fa-facebook
        -#   %li.list-inline-item
        -#     %a{:href => "#"}
        -#       %i.fab.fa-linkedin
  .row
    .col-lg-8.offset-lg-2.text-center
      %p.large.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
