/ Footer
%footer

  .row
    .col-md-4
      %span.copyright Copyright &#169; David Chmura, 2017
    .col-md-4
      %ul.list-inline.social-buttons
        %li.list-inline-item
          %a{:href => "https://twitter.com/humbledaisy", target: :blank}
            %i.fab.fa-twitter
        %li.list-inline-item
          %a{:href => "http://lnkd.in/VuU9xY"}
            %i.fab.fa-linkedin
        %li.list-inline-item
          %a{:href => '#', "data-target" => "#feedback-mailer--modal", "data-toggle" => "modal"}
            %i.fas.fa-envelope
    .col-md-4
      %ul.list-inline.quicklinks
        %li.list-inline-item
          = link_to "Privacy Policy", privacy_path
        -# %li.list-inline-item
        -#   %a{:href => "#"} Terms of Use

    .footer-contact
      
